
.btn {
    width: 175px;
    height: 200px;
}

.cardsize {
    width: 175px;
    height: 190px;
    float: left;
    margin: 5px;
}

.card-body.cardbody {
    padding: 10px 0px 0px 0px; 
}

/* .card-wrapper {
    margin-top: auto;
    margin-bottom: auto;
}
 */
.imgsize {
    margin: auto;
    width: 75px;
}

/* .card-body {
    margin-bottom: -25px;
} */

.title {
    color: black;
    font-weight: bolder;
    font-size: x-small;
    margin-bottom: 4px;
}

.cardtext {
    color: black;
    font-size: 9.5px;
}
