.btn {
    width: 160px;
    height: 170px;
}

.card-body.cardbody {
    padding: 10px 0px 0px 0px; 
}

.imgsize {
    margin: auto;
    width: 70px;
}

.title {
    color: black;
    font-weight: 550;
    font-size: x-small;
    margin-bottom: 4px;
}

.cardtext {
    color: black;
    font-size: 8.5px;
}
